<p style="color: green"><%= notice %></p>

<h1>Opciones de Pago</h1>

<div class="indexcontainer">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID </th>
        <th scope="col">Termino de pago</th>
        
      </tr>
      </thead>
      <tbody>
             <tr>
              <div id="lessons">
              <% @pterms.each do |pt| %>
                <tr>
                 
                <td><%= pt.id %></td>
                <td><%= pt.pterm %></td>
                <td><%= link_to "Ver este tipo de pago", @pterm, class: "btn btn-dark" %></td>
                
                
                <% end %>
              </div> 
              </tr>  
            
      </tbody>
    </table>
  </div>
</div> <br>


<div class="btn-group">
  <div>
  <%= link_to "Nuevo termino de pago", new_pterm_path, class: "btn btn-dark" %>
  
  <%= link_to "Atras", :back , class: "btn btn-dark" %>
  </div>
</div>