<div id="<%= dom_id booking %>">
  <p>
    <strong>Fecha:</strong>
    <%= booking.fecha %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= booking.time.strftime("%H:%M")  %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= booking.lesson.curso %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user.email%>
  </p>

  <p>
    <strong>Pterm:</strong>
    <%= booking.pterm.pterm%>
  </p>

</div>
