<p style="color: green"><%= notice %></p>

<%= render @booking %>

<div>
  <%= link_to "Editar esta reserva", edit_booking_path(@booking) , class: "btn btn-dark"  %> 
 

  <%= button_to "Cancelar esta reserva", @booking, method: :delete , class: "btn btn-dark"  %>
  <br>
  <%= link_to "Volver a Reservas", bookings_path , class: "btn btn-dark" %>
</div>
