<p style="color: green"><%= notice %></p>

<%= render @booking %>


<div class="btn-group">
  <%= link_to "Editar esta reserva", edit_booking_path(@booking) , class: "btn btn-outline-dark"  %> 
 
</div> 
<div class="btn-group">
  <%= link_to "Editar esta reserva", edit_booking_path(@booking) , class: "btn btn-outline-dark"  %> 

 
</div> <br> <br>
<div class="btn-group">
<%= link_to "Volver a Reservas", bookings_path , class: "btn btn-dark" %>
</div> 