<div id="<%= dom_id schedule %>">
  <p>
    <strong>Fecha:</strong>
    <%= schedule.fecha %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= schedule.hora %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= schedule.lesson_id %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= schedule.status %>
  </p>

</div>
