<p style="color: green"><%= notice %></p>

<h1>Horarios</h1>

<div id="schedules">
  <% @schedules.each do |l| %>
    <p>
      <strong>Curso:</strong>
       <%= l.lesson_id %>
    </p>

    <p>
      <strong>fecha:</strong>
       <%= l.fecha %>
    </p>

    <p>
    <strong>Hora:</strong>
    <%= l.hora %>
    </p>

    <p>
    <strong>Estado:</strong>
    <%= l.status%>
    </p>
    
  <% end %>
</div>

<%= link_to "Nuevo Horario", new_schedule_path , class: "btn btn-dark" %>