<p style="color: green"><%= notice %></p>


<h1>Horarios</h1>


<div class="indexcontainer">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID Horario</th>
        <th scope="col">Curso</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
             <tr>
              <div id="lessons">
              <% @schedules.each do |s| %>
                <tr>
                 
                <td><%= s.id %></td>
                <td><%= s.lesson.curso %></td>
                <td><%= s.fecha %></td>
                <td><%= s.hora.strftime("%H:%M") %></td>
                <td><%= s.status %></td>
                <td>  </td>
                 
              <% end %>
              </div> 
              </tr>  
            
      </tbody>
    </table>
  </div>
</div> <br>


<%= link_to "Nuevo Horario", new_schedule_path , class: "btn btn-dark" %>