<p style="color: green"><%= notice %></p>

<header>
<h4>Administracion</h4>
<div class="bg-dark py-1">
</div>
</header>


<body>
<section>
  <div class="h-100 d-flex align-items-center justify-content-center">
        
     <div class="row">
         <div class="col">
         <%= link_to image_tag('meditacion.png', size: "200X200"), '/lessons/' %>
        </div>
         <div class="col">
         <%= link_to image_tag('booking.png', size: "200X200"), '/bookings/' %>
        </div>
    </div>

    <div class="row">
         <div class="col">
         <%= link_to image_tag('calendar.png', size: "200X200"), '/schedules/' %>
        </div>
         <div class="col">
         <%= link_to image_tag('mode.png', size: "200X200"), '/modes' %>
        </div>
    </div>
    <div class="row">
         <div class="col">
         <%= link_to image_tag('cashless-payment.png', size: "200X200"), '/pterms' %>
        </div>
         <div class="col">
         
         
        </div>
    </div>
       
   </div>

</section>
</body>