<p style="color: green"><%= notice %></p>

<h1>Cursos</h1>


<section>
<div class="container overflow-hidden">
         <% @lessons.each do |lesson| %>
            <div class="row gy-5">
                <div class="col-6 alert">
                    <div class="card" style="width: 30rem;">
                       <img src="<%= asset_path 'gym 1.png' %>">
                   
                        <div class="card-body">
                          <h5 class="card-title"><%= lesson.curso %></h5>
                          <p class="card-text"><%= lesson.mode.mode %></p>
                          <p class="card-text"><%= lesson.user.nombre %></p>
                        </div>
                      </div>
                </div>
                
            </div>
      <% end %>
</div>
</section>