<p style="color: green"><%= notice %></p>

<h1>Cursos</h1>


<section>

  <div class="indexcontainer ">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
  <% @lessons.each do |lesson| %>
    
    <div class="col md-4 mb-3 mt-2">
      <div class="card h-100">
        <img src="<%= asset_path 'logo.png' %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= lesson.curso %></h5>
          <p class="card-text"><%= lesson.mode.mode %></p>
          <p class="card-text"><%= lesson.user.nombre %></p>
        </div>
      </div>
      </div>
    <%end %>
  
 </div>
</div>

</section>