<%= form_with(model: lesson) do |form| %>
  <% if lesson.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :curso, style: "display: block" %>
    <%= form.text_field :curso %>
  </div>

  <div>
    <%= form.label :mode_id, style: "display: block" %>
    <%= collection_select( :lesson, :mode_id, Mode.all, :id, :mode, {}, { :multiple => false } ) %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    
   
    <%= collection_select( :lesson, :user_id, User.all.where(tipo: "P"), :id, :email, {}, { :multiple => false } ) %>
    </div> <br>

  <div>
    <%= form.submit "Guardar" , class: "btn btn-outline-dark" %>
  </div>
<% end %>
