<p style="color: green"><%= notice %></p>

<h1>Cursos</h1>

<div class="indexcontainer">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Curso</th>
        <th scope="col">Modalidad</th>
        <th scope="col">Profesor</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
             <tr>
              <div id="lessons">
              <% @lessons.each do |lesson| %>
                <tr>
                 
                <td><%= lesson.id %></td>
                <td><%= lesson.curso %></td>
                <td><%= lesson.mode.mode %></td>
                <td><%= lesson.user.email %></td>
                <td><%= link_to "Ver este curso", lesson, class: "btn btn-dark" %></td>
                 
              <% end %>
              </div> 
              </tr>  
            
      </tbody>
    </table>
  </div>
</div> <br>



<%= link_to "Nuevo curso", new_lesson_path, class: "btn btn-dark" %>
