<p style="color: green"><%= notice %></p>

<%= render @lesson %>

<div class="btn-group">
  <%= link_to "Editar este curso", edit_lesson_path(@lesson) , class: "btn btn-outline-dark" %>
  

</div> 

<div class="btn-group">
  
  <%= button_to "Eliminar este curso", @lesson, method: :delete , class: "btn btn-outline-dark"%>

</div> <br> <br> 
<div class="btn-group"> 
   <%= link_to "Volver a cursos", lessons_path , class: "btn btn-dark"%> 
</div>
