<p style="color: green"><%= notice %></p>

<%= render @lesson %>

<div>
  <%= link_to "Editar este curso", edit_lesson_path(@lesson) , class: "btn btn-dark" %>
  
  

  <%= button_to "Eliminar este curso", @lesson, method: :delete , class: "btn btn-dark"%>

  <%= link_to "Volver a cursos", lessons_path , class: "btn btn-dark"%> 
</div> <br>


