<p style="color: green"><%= notice %></p>

<h1>Modalidades</h1>
  
<div class="indexcontainer">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Modalidad</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
               <tr>
                <div id="modes">
                <% @modes.each do |mode| %>
                  <tr>
                   
                  <td><%= mode.id %></td>
                  <td><%= mode.mode %></td>
                  <td><%= link_to "Ver esta modalidad", mode, class: "btn btn-dark" %></td>
                   
                <% end %>
                </div> 
                </tr>  
              
        </tbody>
      </table>
    </div>
  </div> <br>



<div class="btn-group">
  <div>
  <%= link_to "New mode", new_mode_path ,class: "btn btn-dark"%>
  
  <%= link_to "Atras", :back , class: "btn btn-dark" %>
  </div>
</div>