<p style="color: green"><%= notice %></p>

<%= render @mode %>

<div class="btn-group">
  <%= link_to "Editar esta modalidad", edit_mode_path(@mode), class: "btn btn-outline-dark" %> 
  
</div>

<div class="btn-group">

  <%= button_to "Eliminar esta modalidad", @mode, method: :delete , class: "btn btn-outline-dark"%>
</div> <br> <br>

<div class="btn-group">
  
  <%= link_to "Regresar a Modalidades", modes_path, class: "btn btn-dark" %>

</div>
